<main class="main">
<%# アプリ概要 %>
  <div class="title">
    <div class="title_contents">
      <h1><a href="#about" class="title_name">CloudFindingとは</a></h1>
    </div>
    <div class="title_about" id="about">
      <h1><span class="title_name">CloudFindingとは</span></h1>
      <div class="about_body">
        <p><span>クラウドファンディングをしてみたいけど、アイディアがない</span></p>
        <p><span>クラウドファンディングのアイディアはあるけど、リソースがない</span></p>
        <p><span>クラウドファンディングの計画はあるけど、仲間が欲しい</span></p>
        <p><span>そんなみんなを繋ぐ記事投稿アプリ</span></p>
      </div>
    </div>
  </div>

<%# 投稿一覧 %>
  <div class="inner">
    <h1 class="index_title">投稿一覧</h1>
    <% if user_signed_in? %>
      <div class="greeting">
        こんにちは
        <%= link_to "#{current_user.nickname}", user_path(current_user.id), class: :greeting__link%>
        さん
      </div> 
    <% end %>
    <div class="card__field">
      <div class="card__wrapper" >
        <%= render partial: "article", collection: @articles %>
      </div>
    </div>
  </div>
</main>